include docs/build/html/index.html
include MANIFEST.in
include setup.cfg
include examples/*py
include test/*py
include src/pnetcdfpy/__init__.py
include src/pnetcdfpy/_Dimension.pyx
include src/pnetcdfpy/_Dimension.pxd
include src/pnetcdfpy/_File.pyx
include src/pnetcdfpy/_File.pxd
include src/pnetcdfpy/_utils.pyx
include src/pnetcdfpy/_utils.pxd
include src/pnetcdfpy/_Variable.pyx
include src/pnetcdfpy/_Variable.pxd
include include/PnetCDF.pxi
include include/mpi-compat.h
include *.md
include *.py
include *.csh
include LICENSE